@import 'tailwindcss';

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}